interactions:
- request:
    body: '{"grant_type": "client_credentials", "audience": "test", "client_id": "secret",
      "client_secret": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dev-emcpdzfp.eu.auth0.com/oauth/token
  response:
    body:
      string: '{"access_token":"secret","expires_in":86400,"token_type":"Bearer"}'
    headers:
      Content-Type:
      - application/json
      X-Auth0-RequestId:
      - 00e848e9be4c45677efe
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
      X-RateLimit-Reset:
      - '1572134929'
      ot-tracer-sampled:
      - 'true'
      ot-tracer-spanid:
      - 14135eae452e7637
      ot-tracer-traceid:
      - 2e3f589841f80fab
    status:
      code: 200
      message: OK
version: 1
