interactions:
- request:
    body: '{"grant_type": "client_credentials", "audience": "test", "client_id": "secret",
      "client_secret": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dev-emcpdzfp.eu.auth0.com/oauth/token
  response:
    body:
      string: '{"error":"access_denied","error_description":"Unauthorized"}'
    headers:
      Content-Type:
      - application/json
      X-Auth0-RequestId:
      - 340eca18276644d20a94
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
      X-RateLimit-Reset:
      - '1572134929'
      ot-tracer-sampled:
      - 'true'
      ot-tracer-spanid:
      - 656815097f7c5f14
      ot-tracer-traceid:
      - 3343c75f6d9c74f4
    status:
      code: 401
      message: Unauthorized
version: 1
