interactions:
- request:
    body: '{"grant_type": "client_credentials", "audience": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dev-emcpdzfp.eu.auth0.com/oauth/token
  response:
    body:
      string: '{"access_token":"secret","expires_in":86400,"token_type":"Bearer"}'
    headers:
      Content-Type:
      - application/json
      X-Auth0-RequestId:
      - 860a81da00fc983b3b6c
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
      X-RateLimit-Reset:
      - '1572134929'
      ot-tracer-sampled:
      - 'true'
      ot-tracer-spanid:
      - 157b04c7395f78c6
      ot-tracer-traceid:
      - 4bd5e5bc3ee04328
    status:
      code: 200
      message: OK
version: 1
