interactions:
- request:
    body: '{"grant_type": "client_credentials", "audience": "foo", "client_id": "secret",
      "client_secret": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dev-emcpdzfp.eu.auth0.com/oauth/token
  response:
    body:
      string: '{"error":"access_denied","error_description":"Service not enabled within
        domain: foo"}'
    headers:
      Content-Type:
      - application/json
      X-Auth0-RequestId:
      - 4e301c8c5828f52c41cc
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
      X-RateLimit-Reset:
      - '1572134929'
      ot-tracer-sampled:
      - 'true'
      ot-tracer-spanid:
      - 33bf5fc734d033e7
      ot-tracer-traceid:
      - 26db93d31142a1a4
    status:
      code: 403
      message: Forbidden
version: 1
